/* Back-office styling */

.twa-back {
    background-color: #050505;
}

h1 {
    text-align: center;
    margin-left: 4rem;
    color: whitesmoke;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3 {
    text-align: center;
    color: white;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
   color:#81AEF7;
}

.link-delete{
    color: #D8C816;
}

.logo {
    width: 200px;
    height: 76px;
    padding: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
}

.container-center {
    border-collapse: collapse;
    display: flex;
    /* justify-content: center; */
    max-width: 1280px;
    padding: 2rem 4rem;

}

.twa-table {
    width: 85%;
    background-color: #0E0E0E;
    border-collapse: collapse;
    border-color: white;
    text-align: center;
    color: white;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.twa-table tr,
.twa-table th,
.twa-table td {
    padding: 10px;
    border: 1px solid #ddd;
    max-width: 25rem;
    overflow-x: auto;
    /* overflow-wrap: break-word; */
    height: 0rem;

}
input[type=text],input[type=email],input[type=password], textarea {
    color: white;
    background-color :#0E0E0E;
    border-radius: 6px;
    border-color :#FFEE32;
    padding: 7px;
}

.container-input{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

:focus{
    border: solid 1px white;
}

.select-especial{
    padding: 7px; 
    color: white;
    border:line 2px;
    border-color: #FFEE32;
    border-radius:5px;
    background-color:black; 
}
.input-button{
    cursor:pointer; 
    padding:5px 20px; 
    background-color:#FFEE32; 
    border:line 2px #FFEE32; 
    border-radius:5px;
    transition: 0.3s;
    text-decoration: none;
    color: black;
}

.admin-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 640px;
    margin: 0 auto ;
    align-items: center;
    justify-content: center;
}
.button-admin{ 
    padding: 16px;
    width: 16rem;
}
.button-create{
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 20px;
    max-width: 100px;
    max-height: 20px;
    margin-right: 20px;

}

.input-button:hover {
    background: black;
    color: #FFEE32;
}

#button-valid{
    margin-left: 10px;
}

select{
    padding: 7px; 
    color: white;
    border:line 2px;
    border-color: #FFEE32;
    border-radius:5px;
    background-color:black; 
}

