/* Back-office styling */

.twa-back {
    background-color: #050505;
    ;
}

h1 {
    text-align: center;
    margin-left: 4rem;
    color: whitesmoke;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h2 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

h3 {
    margin-left: 110px;
    color: white;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a{
   color:#81AEF7;
}

.link-delete{
    color: #D8C816;
}

.logo {
    max-width: 200px;
    max-height: 50px;
    padding: 10px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-center {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

.twa-table {
    width: 85%;
    border-collapse: collapse;
    border-color: white;
    text-align: center;
    color: white;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.twa-table tr,
.twa-table th,
.twa-table td {
    padding: 10px;
    border: 1px solid #ddd
}

input{
    cursor:pointer; 
    padding:5px 20px; 
    background-color:lightsteelblue; 
    border:line 2px white; 
    border-radius:5px;
}

select{
    border:line 2px white; 
    border-radius:5px;
}
#footer-style{
    padding: 40px;
    max-width: 500px;
    text-align: center;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#footer-container{
    display: flex;
    justify-content: center;
}