.style {
  background-color: #0e0e0e;
}
h3 {
  margin-top: 11px;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
h4 {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  opacity: 85%;
  margin-top: -5px;
}
.etiquetteblog {
  border-radius: 0.125rem;
  max-width: 398px;
  width: 100%;
  /* margin: 0 auto; */
  margin-top: 30px;
  background-color: #0e0e0e;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid;
  border-color: #9cedff;
  border-width: 2px;
}
.tailleimg {
  height: 200px;
  /* width: 355px; */
  object-fit: cover;
}
.tag {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #1e293b;
  margin-right: 8px;
  background-color: #f1f5f9;
  border-radius: 4px;
  padding: 5px;
}
.conteneurblog {
  margin-top: 19px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start;
}
.maxiconteneurblog {
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.opacity-10 .etiquetteblog{
  opacity: 10%;
}
.soon-banner-container {
  position: relative;
}
.soon-banner {
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.soon-texte{
  background-color: rgba(0, 255, 255, 0.301);
  padding: 1rem;
  border-radius: 4px;
  backdrop-filter: blur(4px);
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  margin-top: -12px;
}
h2 {
  font-family: Monument Extended;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #f1f5f9;
  padding-top: 74px;
  padding-bottom: 28px;
}
p {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #f1f5f9;
  padding-bottom: 50px;
  width: 632px;
}
#banniere {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.recherche {
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #a8a8a8;
  border: 1px solid #ffee32;
  border-radius: 28px;
  padding-right: 350px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  height: 35px;
  margin-top: 105px;
  margin-left: 210px;
  position: relative;
  z-index: 0;
}
.intro {
  display: flex;
  flex-direction: row;
}
.intro svg {
  border: 1px solid #ffee32;
  border-radius: 200px;
  padding: 5px;
  background-color: #ffee32;
  z-index: 10;
  position: relative;
  margin-left: -34px;
  margin-top: 105px;
}
.search {
  display: flex;
  flex-direction: row;
}
.trier {
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: #c0c0c0;
  border: 1px solid #494512;
  border-radius: 28px;
  position: relative;
  z-index: 0;
  height: 35px;
  width: 235px;
  margin-left: -235px;
  margin-top: 230px;
  padding-left: 10px;
  padding-top: 5px;
}
.intro {
  margin: 0 auto;
  max-width: 1280px;
}