html {
  background-color: #0e0e0e;
  color: white;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  margin-top: auto;
}

p {
  font-weight: lighter;
  font-size: 14px;
  margin-top: 1rem;
}

#line {
    margin-top: 3rem;
}

#intro {
    margin-top: 3rem;
  margin-left: 4rem;
}

#image {
    margin-right: 4rem;
}

#formulaire {
    margin-top: 3rem;
    margin-left: 11rem;
    justify-content: space-around;
}

#formulaire label {
  width: 120px;
  text-align: right;
}
#formimg {
  display: flex;
  flex-direction: row;
  justify-content: right;
  justify-content: space-between;
}

input[type="text"],
input[type="email"],
textarea {
  color: white;
  background-color: #0e0e0e;
  border-radius: 6px;
  border-color: #ffee32;
  border-collapse: separate;
  border-spacing: 5px;
  padding: 5px;
}

button {
  color: #0e0e0e;
  background-color: #ffee32;
  border-color: #ffee32;
  border-radius: 6px;
  width: 6rem;
  padding: 4px;
  font-size: 16px;
}
