html {
  background-color: #0e0e0e;
  color: white;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  margin-top: auto;
}

h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}

p {
  font-weight: lighter;
  font-size: 14px;
  margin-top: 1rem;
}

#line {
  margin-top: 3rem;
}

#intro {
  margin-top: 3rem;
  /* margin-left: 4rem; */
}

#image {
  margin-right: 4rem;
}

#formulaire {
  margin-top: 5px;
  /* margin-left: 11rem; */
  justify-content: space-around;
}

#formulaire label {
  width: 120px;
  text-align: right;
}

#formimg {
  display: flex;
  flex-direction: row;
  justify-content: right;
  justify-content: space-between;
}



.contact-container {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px) {
  .contact-container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .contact-container {
    max-width: 1040px;
  }
}

@media (min-width: 1280px) {
  .contact-container {
    max-width: 1280px;
  }
}

input[type="text"],
input[type="email"],
textarea {
  color: white;
  background-color: #0e0e0e;
  border-radius: 6px;
  padding: 8px;
  width: 80%;
  border: 1px solid #ffee32;
}

textarea {
  height: 80px;
  width: 400px;
}

button {
  color: #0e0e0e;
  background-color: #ffee32;
  border-color: #ffee32;
  border-radius: 6px;
  width: 6rem;
  padding: 4px;
  font-size: 16px;
  border: 1px solid #ffee32;
  transition: 0.3s;
  margin-top: 15px;
  margin-left: 76%;
}

button:hover {
  background: #0e0e0e;
  color: #ffee32;
  border: 1px solid #ffee32;
}

.name {
  padding-top: 35px;
}

hr {
  margin-top: 3rem;
  /* margin-left: 4rem; */
  width: 55%;
  display: flex;
  border: 0.8px solid #ffee32;
}
