body {
    background-color: #0E0E0E;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
    position: relative;
}

h3 {
    font-weight: 500;
}

p {
    display: flex;
    font-weight: 100;
}