footer {
    background-color: #0e0e0e;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    white-space: nowrap;
    position: relative;
    width: 100%;
    margin-top: 0vh;
    padding: 20px 0 10px 0;
    /*TOP*/
    /*LEFT*/
    /*SOCIAL NETWORK*/
    /*NEWSLETTER*/
    /*NAVBAR*/
    /*BOTTOM*/
  }
  footer a:link,
  footer a:visited {
    color: #fff;
  }
  footer .line-top {
    display: flex;
    align-items: center;
  }
  footer .line-top img {
    margin: 0 1rem;
  }
  footer .line-top hr {
    display: flex;
    height: 1px;
    width: 100%;
    background: #ffee32;
    border: none;
  }
  footer .right {
    margin: 0 0 0 260px;
  }
  footer .left {
    margin: 0 260px 0 0;
  }
  footer .footer-logo {
    display: flex;
    flex-direction: row;
    max-height: 32px;
  }
  footer .footer-top-section {
    display: flex;
    height: 77%;
    margin: 0 80px;
    position: relative;
  }
  footer .footer-logo:before,
  footer .footer-logo:after {
    position: absolute;
    padding: 30px 0 0 0;
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #000;
    margin: auto;
  }
  footer .footer-logo:before {
    margin-right: 10px;
  }
  footer .footer-logo:after {
    margin-left: 10px;
  }
  footer .footer-left-section {
    margin: auto;
    position: relative;
    width: 30%;
    height: 50%;
  }
  footer .social-network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    margin-bottom: 30px;
  }
  footer .title-network {
    font-size: 1.2rem;
    font-weight: 300;
    color: #ffffff;
    margin-right: 15%;
    white-space: nowrap;
  }
  footer .social-network-icon {
    display: flex;
  }
  footer .icon-network {
    color: white;
    /* padding: 0% 54%;: */
    margin-left: 1rem;
    transition: color 0.3s ease-out;
  }
  footer .icon-network:hover {
    color: #ffee32;
  }
  footer .newsletter {
    position: relative;
    display: flex;
    margin: auto;
    box-sizing: border-box;
  }
  footer input {
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    margin-top: 18px;
    margin-right: 25px;
    border: 1px solid #ffee32;
    background: #0e0e0e;
    outline: none;
    font-size: 0.75rem;
    color: #a8a8a8;
  }
  footer .name {
    position: absolute;
    background: #0e0e0e;
    margin-left: 15px;
    font-weight: 300;
    margin-bottom: 40px;
    padding: 0 5px;
  }
  footer .submit-button,
  footer .submit-button:visited,
  footer .submit-button:link {
    background: #ffee32;
    width: 200px;
    color: #0e0e0e;
    border: none;
    padding: 7px 25px;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 25px;
    text-decoration: none;
    transition-duration: 0.3s;
  }
  footer .submit-button:hover {
    border: 1px solid #ffee32;
    background-color: #000000;
    color: #ffee32;
  }
  footer .navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 8%;
    width: 30%;
    color: #ffee32;
  }
  footer .navbar a {
    text-decoration: none;
  }
  footer .navbar a:hover {
    color: #ffee32;
    transition-duration: 0.3s;
  }
  footer .navbar a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #ffee32;
    margin-top: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
  }
  footer .navbar a:hover::after {
    transform: scaleX(1);
  }
  footer .footer-bottom-section {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
  }
  footer .footer-flex {
    align-items: center;
    font-size: 1rem;
    font-weight: 100;
    padding: 10px 0;
    max-width: 600px;
    height: 100%;
  }
  footer .footer-flex a:visited {
    color: #a8a8a8;
  }
  footer .vertical-line {
    border-left: 1px solid #a8a8a8;
    height: 25px;
    margin-left: 15%;
    margin-right: 15%;
  }
  footer .footer-flex a:hover {
    color: #ffee32;
    transition-duration: 0.3s;
  }