*{  margin: 0;
    padding: 0;
}

footer {
    background-color: #0E0E0E;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
    white-space: nowrap;
    position: relative;
    height: 30vh;
    width: 100%;
    margin-top: 0vh;
    padding: 20px 0 10px 0;
    /*border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #FFEE32;
    */
}

footer a:link, footer a:visited {
    color: #fff;
}

/*TOP*/
.line-top  {
    display: flex;
    align-items: center;
}
.line-top img {
    margin: 0 1rem;
}


.line-top hr {
    display: flex;
    height: 1px;
    width: 100%;
    background: #FFEE32;
    border: none;
}

.right {
    margin: 0 0 0 260px;
}

.left {
    margin: 0 260px 0 0;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    max-height: 32px;
}

.footer-top-section {
    display: flex;
    height: 77%;
    margin: 0 80px;
    position: relative;
}

.footer-logo:before, .footer-logo:after{
    position: absolute;
    padding: 30px 0 0 0;
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #000;
    margin: auto;
}
.footer-logo:before {
    margin-right: 10px
}
.footer-logo:after {
    margin-left: 10px
}

/*LEFT*/

.footer-left-section {
    margin: auto;
    position: relative;
    width: 30%;
    height: 50%;
}

/*SOCIAL NETWORK*/

.social-network {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    margin-bottom: 30px;
}

.title-network {
    font-size: 1.2rem;
    font-weight: 300;
    color: #FFFFFF;
    margin-right: 15%;
    white-space: nowrap;
}

.social-network-icon {
    display: flex;
}

.icon-network {
    color: white;
    padding: 0% 54%;
    transition: color 0.3s ease-out;
}

.icon-network:hover {
    color: #FFEE32;
}

/*NEWSLETTER*/

.newsletter {
    position: relative;
    display: flex;
    margin: auto;
    box-sizing: border-box;
}

input {
    width: 100%;
    border-radius: 25px;
    padding: 10px;
    margin-right: 25px;
    border: 1px solid #FFEE32;
    background: #0E0E0E;
    outline: none;
    font-size: 0.75rem;
    color: #A8A8A8;
}



.submit-button, .submit-button:visited, .submit-button:link {
    background: #FFEE32;
    width: 200px;
    color: #0E0E0E;
    border: none;
    padding: 7px 25px;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 25px;
    text-decoration: none;
    transition-duration: 0.3s;
}

.submit-button:hover {
    border: 1px solid #FFEE32;
    background-color: #000000;
    color: #FFEE32;
}

/*NAVBAR*/

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 8%;
    width: 30%;
    color: #FFEE32;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    color: #FFEE32;
    transition-duration: 0.3s;
}

.navbar a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background:#FFEE32;
    margin-top: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

/*BOTTOM*/

.footer-bottom-section {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: center;
}

.footer-flex {
    align-items: center;
    font-size: 1rem;
    font-weight: 100;
    padding: 10px 0;
    max-width: 600px;
    height: 100%;
}

.footer-flex a:visited {
    color: #A8A8A8;
}
.vertical-line {
    border-left: 1px solid #A8A8A8;
    height: 25px;
    margin-left: 15%;
    margin-right: 15%;
}

.footer-flex a:hover {
    color: #FFEE32;
    transition-duration: 0.3s;
}
















