.style {
  background-color: #0e0e0e;
}
h1 {
    font-family: 'Monument', Monument, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    margin-left: 15rem;
    margin-top: 2rem;
    
}

a {
  text-decoration: none;
  color: inherit;
}
.img-gallerie {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    margin-top: 4rem;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.gradient {
  background-image: linear-gradient(
      201.69deg,
      rgba(255, 255, 255, 0) 49.67%,
      rgba(255, 255, 255, 0) 49.68%,
      rgba(255, 255, 255, 0.0086472) 53.03%,
      rgba(255, 255, 255, 0.03551) 56.38%,
      rgba(255, 255, 255, 0.0816599) 59.74%,
      rgba(255, 255, 255, 0.147411) 63.09%,
      rgba(255, 255, 255, 0.231775) 66.45%,
      rgba(255, 255, 255, 0.331884) 69.8%,
      rgba(255, 255, 255, 0.442691) 73.16%,
      rgba(255, 255, 255, 0.557309) 76.51%,
      rgba(255, 255, 255, 0.668116) 79.87%,
      rgba(255, 255, 255, 0.768225) 83.22%,
      rgba(255, 255, 255, 0.852589) 86.58%,
      rgba(255, 255, 255, 0.91834) 89.93%,
      rgba(255, 255, 255, 0.96449) 93.29%,
      rgba(255, 255, 255, 0.991353) 96.64%,
      #ffffff 100%
    ),
    url("./image/Cité-du-vin.jpg");
  width: 293px;
  height: 372px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
}
.gradient2 {
  background-image: linear-gradient(
      201.69deg,
      rgba(255, 255, 255, 0) 49.67%,
      rgba(255, 255, 255, 0) 49.68%,
      rgba(255, 255, 255, 0.0086472) 53.03%,
      rgba(255, 255, 255, 0.03551) 56.38%,
      rgba(255, 255, 255, 0.0816599) 59.74%,
      rgba(255, 255, 255, 0.147411) 63.09%,
      rgba(255, 255, 255, 0.231775) 66.45%,
      rgba(255, 255, 255, 0.331884) 69.8%,
      rgba(255, 255, 255, 0.442691) 73.16%,
      rgba(255, 255, 255, 0.557309) 76.51%,
      rgba(255, 255, 255, 0.668116) 79.87%,
      rgba(255, 255, 255, 0.768225) 83.22%,
      rgba(255, 255, 255, 0.852589) 86.58%,
      rgba(255, 255, 255, 0.91834) 89.93%,
      rgba(255, 255, 255, 0.96449) 93.29%,
      rgba(255, 255, 255, 0.991353) 96.64%,
      #ffffff 100%
    ),
    url("./image/favorite.jpg");
  width: 293px;
  height: 372px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
}

.gradient3 {
  background-image: linear-gradient(
      201.69deg,
      rgba(255, 255, 255, 0) 49.67%,
      rgba(255, 255, 255, 0) 49.68%,
      rgba(255, 255, 255, 0.0086472) 53.03%,
      rgba(255, 255, 255, 0.03551) 56.38%,
      rgba(255, 255, 255, 0.0816599) 59.74%,
      rgba(255, 255, 255, 0.147411) 63.09%,
      rgba(255, 255, 255, 0.231775) 66.45%,
      rgba(255, 255, 255, 0.331884) 69.8%,
      rgba(255, 255, 255, 0.442691) 73.16%,
      rgba(255, 255, 255, 0.557309) 76.51%,
      rgba(255, 255, 255, 0.668116) 79.87%,
      rgba(255, 255, 255, 0.768225) 83.22%,
      rgba(255, 255, 255, 0.852589) 86.58%,
      rgba(255, 255, 255, 0.91834) 89.93%,
      rgba(255, 255, 255, 0.96449) 93.29%,
      rgba(255, 255, 255, 0.991353) 96.64%,
      #ffffff 100%
    ),
    url("./image/eglise.jpg");
  width: 293px;
  height: 372px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-size: cover;
}

.texte-haut {
    font-family: 'Monument', Monument, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    margin-left: 1rem;
}
.texte-bas {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
