* {
  padding: 0;
  margin: 0;
}
html {
  background-color: #0e0e0e;
}

.tilescroll-container {
  position: relative;
}

.hero-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 10;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-text {
  display: flex;
  flex-direction: column;
  padding-right: 5rem;
  margin-bottom: 5rem;
  position: relative;
}

.discover-text {
  margin-top: -15px;
  background: #111111;
  z-index: 20;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

/* .hero-text {
  position: relative;
  padding: 5rem;
  width: 100%;
  height: 100%;
  background: #0e0e0e;
  backdrop-filter: blur(46px);
  border-radius: 179px 0px 0px 0px;
  transform: scaleX(1.5) scaleY(1.5);
} */

.hero-text h1,
.hero-text p,
.hero-text .hero-nav {
  z-index: 10;
}

.hero-back {
  position: absolute;
  /* padding: 5rem; */
  width: 1032px;
  height: 400px;
  z-index: 0;
  background-color: #111;
  user-select: none;
  margin-left: -100px;
  margin-top: 28px;
  filter: blur(46px);
  border-radius: 179px 0px 0px 0px;
  transform: scaleX(1.3) scaleY(2.4);
}

.hero-text p {
  max-width: 460px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;

  color: rgba(255, 255, 255, 0.84);
}
/* .tiles__line-img {
  background: red;
} */
.hero-nav a {
  border: 1px solid #ffee32;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Monument Extended;

  font-size: 18px;
  line-height: 22px;
  color: #ffee32;
  text-align: right;
  text-transform: uppercase;
}

.hero-nav {
  margin-top: 36px;
  display: flex;
  column-gap: 42px;
}

.tilescroll-container h1 {
  font-family: "Monument Extended", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 250;
  font-size: 42px;
  line-height: 50px;
}

.presentation {
  padding-left: 235px;
  padding-right: 235px;
  padding-top: 23px;
  text-align: justify;
  font-weight: 300;
  opacity: 85%;
}
h3 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  padding-left: 235px;
  padding-right: 235px;
  margin-top: -20px;
}
.blog-preview-container {
  padding: 10px;
  max-width: 1138px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 18px;
  margin: 0 auto;
}
.streetart {
  display: flex;
  flex-direction: row;
  border: 1px solid #9cedff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
  transition: ease 0.15s;
}
.streetart:hover:not(.more) {
  transform: scale(1.03);
}
img {
  width: 160px;
  object-fit: cover;
  height: 100%;
}
.tagtxt {
  flex: 2;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
h2 {
  font-family: "Monument Extended";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: white;
  margin-left: 238px;
  padding-bottom: 38px;
  padding-top: 115px;
}
h4 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding-bottom: 12px;
  padding-top: 8px;
}
p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  opacity: 85%;
}
.tag {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #1e293b;
  margin-right: 8px;
  background-color: #f1f5f9;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.more {
  position: relative;
}
.more img,
.more .tagtxt {
  opacity: 40%;
  filter: grayscale(100%);
}

.button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.button a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #ffee32;
  color: black;
  border: 1px solid #ffee32;
  border-radius: 4px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 10;
  transition: ease 0.15s;
}
.button a:hover {
  background-color: black;
  color: #ffee32;
  border: 1px solid #ffee32;
  transform: scale(1.03);
}
.grille {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(6, minmax(0, 1fr));
  margin-left: 150px;
  margin-right: 150px;
}
.grille img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  transition: ease(0.15s);
}
#comedie {
  grid-column: span 2 / span 2;
}
#statue {
  grid-column: span 2 / span 2;
}
#lune {
  grid-column: span 2 / span 2;
}
#portfolio {
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #ffee32;
  border: 1px solid #ffee32;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2 / span 2;
  transition: ease(0.15s);
}
#pellegrin {
  object-position: center top;
}
#cathedrale {
  object-position: center top;
}
#groupe {
  width: 100%;
  height: 365px;
  object-fit: cover;
  object-position: center -160px;
  margin-bottom: 30px;
}

@media (min-width: 1440px) {
  #groupe {
    height: 50vh;
  }
}
