* {
  padding: 0;
  margin: 0;
}
html {
  background-color: #050505;
}
.blog-preview-container {
  padding: 10px;
  max-width: 1138px;
display: grid;
grid-template-columns: repeat(2,minmax(0,1fr));
grid-column-gap: 20px;
grid-row-gap: 18px;
margin: 0 auto;
}
.streetart {
  display: flex;
  flex-direction: row;
  border: 1px solid #9cedff;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px;
}
 img {
  width: 160px;
  object-fit: cover;
}
.tagtxt {
  flex: 2;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  color: white;
}
h4 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding-bottom: 12px;
  padding-top: 8px;
}
p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  opacity: 85%;
}
.tag {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #1e293b;
  margin-right: 8px;
  background-color: #f1f5f9;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.more {
    opacity: 40%;
}