.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #050505;
	padding: 0 42px;
	position: sticky;
	height: 42px;

	z-index: 20;
}
.bouton-space {
	margin-left: 42px;
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}

.bouton-space:hover {
	color: #ffee32;
}
.header-space {
	margin-left: 42px;
	margin-right: 42px;
}

a {
	text-decoration: none;
}

.logo-navbar {
	width: 105px;
	height: 25px;
	margin-left: 42px;
}

.navbar-content-right {
	display: flex;
	align-items: center;
}

.active 
{
  text-decoration: underline;
  color: #ffee32;
}