body{
  background-color: #0e0e0e;
}
.portrait-container h1 {
  color: white;
  font-family: "'Monument', Monument-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  padding-top: 90px;
}
.portrait-container #intro {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  color: white;
  opacity: 90%;
  padding-left: 228px;
  padding-right: 228px;
  padding-top: 73px;
}
.portrait-container .tags {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 22px;
}
.portrait-container h5 {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #1e293b;
  margin-right: 8px;
  background-color: #f1f5f9;
  border-radius: 4px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
}
.portrait-container .button a {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color: #ffee32;
  border: 1px solid #ffee32;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  transition: ease 0.15s;
}
.portrait-container .button :hover {
  color: black;
  border: 1px solid #ffee32;
  background-color: #ffee32;
  transform: scale(1.03);
}
.portrait-container .button {
  text-align: right;
  padding-right: 228px;
  margin-top: -25px;
}
.portrait-container .bandeau {
  background-color: #171717;
  width: 100%;
  height: 322px;
  position: relative;
  margin-top: 82px;
  text-align: center;
}
.portrait-container #frederic {
  border-radius: 250px;
}
.portrait-container .portrait {
  padding-top: 0 auto;
  margin-top: 36px;
  padding-bottom: 0 auto;
  padding-left: 16%;
  position: absolute;
}
.portrait-container .quote {
  z-index: 1;
  display: flex;
  padding-left: 41%;
  padding-right: 46%;
  padding-top: 28px;
  padding-bottom: 104px;
}
.portrait-container h2 {
  position: absolute;
  color: white;
  opacity: 85%;
  font-family: "Manrope", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  padding-left: 48%;
  padding-right: 17%;
  padding-top: 115px;
  padding-bottom: 63px;
}
.portrait-container p {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: justify;
  color: white;
  opacity: 85%;
  padding-left: 228px;
  padding-right: 228px;
  text-indent: 5%;
  padding-bottom: 20px;
}
.portrait-container h3 {
  color: white;
  opacity: 85%;
  font-family: "Manrope", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  text-align: left;
  padding-left: 228px;
  padding-right: 228px;
  padding-top: 48px;
  padding-bottom: 25px;
}
.portrait-container .introduction a {
  color: #ffee32;
}
.portrait-container .article a {
  color: #ffee32;
}
.portrait-container h6 {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  color: white;
  opacity: 85%;
  padding-left: 228px;
  padding-right: 228px;
  padding-top: 32px;
}
.portrait-container .link {
  display: flex;
  flex-direction: column;
}
.portrait-container .oeuvres {
  height: 540px;
  width: 100%;
  background-color: #171717;
  margin-top: 40px;
}
.portrait-container h4 {
  color: white;
  opacity: 90%;
  font-family: "'Monument', Monument-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  padding-left: 228px;
  padding-top: 38px;
  padding-bottom: 52px;
}
.portrait-container .button a {
  text-decoration: none;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #ffee32;
  border: 1px solid #ffee32;
}
.portrait-container #portfolio {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #ffee32;
  border: 1px solid #ffee32;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2/span 2;
  transition: ease 0.15s;
}
.portrait-container .galerie {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(6, minmax(0, 1fr));
  margin-left: 150px;
  margin-right: 150px;
}
.portrait-container .galerie :hover {
  transform: scale(1.03);
}
.portrait-container .galerie img {
  height: 175px;
  width: 100%;
  object-fit: cover;
  transition: ease 0.15s;
}
.portrait-container #quais {
  grid-column: span 3/span 3;
}
.portrait-container #bourse2 {
  grid-column: span 3/span 3;
}
.portrait-container #arene {
  grid-column: span 2/span 2;
}
.portrait-container .insta {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.portrait-container .website {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.portrait-container .social {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 228px;
  align-items: flex-start;
}
.portrait-container .social-button {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.portrait-container .social-button svg {
  margin-right: 0.5rem;
  z-index: 10;
  color: #fff;
  fill: #0f0f0f;
}
.portrait-container .social-button:hover svg {
  color: #ffee32;
}
.portrait-container .social-button span {
  background: #393939;
  padding: 0.25rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  padding-right: 8px;
  margin-left: -24px;
  z-index: 0;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: white;
}
.oeuvres{
  margin-bottom: 2rem;
}