* {
  margin: 0;
  padding: 0;
}

body {
  background: #0e0e0e;
  color: #fff;
  font-family: "Manrope", sans-serif;
}

.left-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.right-profile{
    width: 416px;
    height: 431px;
}
.premier-logo{
    width: 41px;
    height: 41px;
}