*{  margin: 0;
    padding: 0;
}

body {
    background: #0E0E0E;
    color: #fff;
    font-family: 'Manrope', sans-serif;
}

.left-right {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 62px;
    margin-bottom: 40px;
}

.premier-logo {
    width: 41px;
    height: 41px;
}

.top-container {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-between;
}

.left-profile {
    max-width: 775px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.trait {
    border-color: #FFEE32;
    max-width: 1280px;
    margin: 50px 0;
}

.valider-profile {
    max-width: 180px;
    text-align: center;
    border: 1px solid #FFEE32;
    background: #FFEE32;
    color: #0E0E0E;
    border-radius: 6px;
    padding: 8px 40px;
    max-height: 45px;
    transition: 0.3s;
    text-decoration: none;
}

.valider-profile:hover {
    background: #0E0E0E;
    color: #FFEE32;
    border: 1px solid #FFEE32;
}

h3 {
    padding: 10px 0;
}

.middle-container {
    display: flex;
}

.email-profile {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    white-space: nowrap;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    white-space: nowrap;
}

.right-profile {
    width: 416px;
    height: 431px;
}

.logo-before svg {
    width: 48px;
    height: 48px;
}

.top-text {
    max-width: 1280px;
    margin: 0 auto;
}

.input-profil {
    color: #fff;
    border: 1px solid #FFEE32;
    background: #0E0E0E ;
    border-radius: 6px;
    padding: 5px;
    min-width: 200px;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-right: 20px;
}

.placeholder {
    color: #EEEEEE;
}

.mdpoublié {
    color: #A8A8A8;
    transition: 0.3s;
    font-size: 0.8rem;
}

.mdpoublié:hover {
    color: #FFEE32;
}

  
  .icon-data {
      width: 106px;
  }
  .icon-data svg {
      height: 42px;
      width: 42px;
  }
  .titre-bas {
    margin-top: 2rem;
  }
  
  .button1 svg {
      margin-right: 16px;
  }
  
  .block-user {
      display: flex;
      align-items: flex-start;
  }
  .block-data-user {
      display: flex;
      flex-direction: column;
  }
  .part1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  
  h2 {
    margin-top: 50px;
    font-weight: 900;
    font-size: 2rem;
  }

  date {
      color: #A8A8A8;
  }